@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
}

body {
  @apply bg-black text-white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('./assets/gym-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a, button {
  @apply transition-all duration-200;
}
