@import "tailwindcss";

body {
  @apply bg-black text-white;
  background-image: url('./assets/gym-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a, button {
  @apply transition-all duration-200;
}

